<footer class="footer">
    
          <div class="redes">

                <a href="https://www.facebook.com/ACMilan/" target= "_blank">
                    <img src="./assets/imgF/facebook.png" alt="facebook">
                </a>

                <a href="https://www.twitch.tv/acmilan" target= "_blank">
                    <img src="./assets/imgF/twitch.png" alt="twitch">
                </a>

                <a href="https://www.tiktok.com/@acmilan" target= "_blank">
                    <img src="./assets/imgF/tik-tok.png" alt="tik-tok">
                </a>

                <a href="https://www.youtube.com/@ACMilan" target= "_blank">
                    <img src="./assets/imgF/youtube.png" alt="youtube">
                </a>

                <a href="https://twitter.com/acmilan" target= "_blank">
                    <img src="./assets/imgF/twitter.png" alt="twitter">
                </a>

                <a href="https://www.linkedin.com/company/ac-milan/" target= "_blank">
                    <img src="./assets/imgF/linkedin.png" alt="linkedin">
                </a>
          
        </div>
        
      <div class="letras">
            <a href="#">HOME</a>
            <a href="#">NEWS</a>
            <a href="#">SHOP</a>
            <a href="#">THE CLUB</a>

      </div>
        
        <div class="texto">
          © 2023 Copyright:Derechos Reservados
          <a class="text-white" href="#"></a>
        </div>
    </footer>
    