.footer{
margin: 0;
padding: 0;
box-sizing: border-box;
background-color: #AE0000;
justify-content: center;
text-align: center;
}
.redes img{
width: 90px;
height: auto;
margin: 0;
justify-content: right;
background-color: #AE0000;
color: #F6F6F6;
text-decoration: none;
padding: 30px;

}

.letras a{
    height: auto;
    color: #F6F6F6; 
    background-color: #AE0000;
    padding: 22px;
    text-decoration: none;
}

.texto{
    height: auto;
    color: #F6F6F6; 
    background-color: #AE0000;
    padding: 15px;
    text-decoration: none;
    
}
