.container {
  height: 94.5%;
  width: 85%;
  background-color: rgb(21, 21, 21);
  position: absolute;
}

.menu {
  position: absolute;
  width: 100%;
  height: 18%;
  margin: 0;
  padding: 0px 30px;
  left: 190px;
  font-size: 30px;
  background-color: rgb(228, 227, 227);
  color: rgb(7, 7, 7);
  top: 55px;
  display: flex;
  justify-content: left;
  align-items: center;
  list-style: none;
}

.titulo {
  position: absolute;
  width: 100%;
  height: 80%;
  margin: 0;
  padding: 0px 30px;
  left: 190px;
  background-color: rgb(26, 26, 26);
  top: 147px;
  display: flex;
  justify-content: left;
  list-style: none;
  color: rgb(255, 255, 255);
}

.titulo p {
  font-size: 28px;
  margin: 10px 0px;
  padding: 0;
}

.form {
  position: absolute;
  left: 300px;
  font-size: 20px;
  background-color: rgb(26, 26, 26);
  top: 200px;
  display: grid;
  grid-template-columns: 103px 103px;
  grid-template-rows: 20px;
  gap: 80px 320px;
  justify-content: left;
  list-style: none;
  color: rgb(255, 255, 255);
}

.form1 {
  position: absolute;
  left: 319px;
  top: 250px;
  display: grid;
  grid-template-columns: 103px 103px;
  grid-template-rows: 20px;
  gap: 60px 320px;
  justify-content: left;
  list-style: none;
  color: rgb(255, 255, 255);
}

.form1 p {
  font-size: 22px;
  margin: 0px 20px;
}

.editor {
  width: 100px;
  height: 50px;
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  background-color: rgb(228, 227, 227);
  color: black;
  list-style: none;
  border: none;
}

.editor p {
  display: inline;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.editor:hover {
  color: white;
  background-color: rgb(231, 33, 33);
}
.editor1 {
  width: 100px;
  height: 50px;
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  background-color: rgb(228, 227, 227);
  color: black;
  list-style: none;
  border: none;
}

.editor1 p {
  display: inline;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.editor1:hover {
  color: white;
  background-color: rgb(231, 33, 33);
}
.desc {
  margin: 10px 0px;
  display: block;
  justify-content: left;
  align-items: center;
  text-align: left;
}
#check {
  display: none;
}
.container .btn_one i {
  color: white;
  font-size: 30px;
  font-weight: 700px;
  position: absolute;
  left: 16px;
  line-height: 60px;
  cursor: pointer;
  opacity: 1;
  transition: all 0.3s linear;
}

@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    height: 100%;
  }

  .menu {
    font-size: 20px;
    position: absolute;
    width: 100%;
    height: 13%;
    margin: 0;
    left: 0;
    padding: 0px 30px;
    background-color: rgb(231, 33, 33);
    top: 92px;
    display: flex;
    justify-content: left;
    align-items: center;
    list-style: none;
    color: rgb(248, 247, 247);
  }

  .titulo {
    width: 100%;
    height: 120%;
    left: 0;
    margin: 0;
    padding: 0px 30px;
    background-color: rgb(26, 26, 26);
    top: 160px;
    display: flex;
    justify-content: left;
    list-style: none;
    color: rgb(255, 255, 255);
    font-size: 24px;
  }

  .form {
    height: 100%;
    height: 100%;
    left: 40px;
    display: grid;
    grid-template-columns: 103px;
    grid-template-rows: 40px;
    font-size: 20px;
    gap: 70px 10px;
  }

  .form1 {
    height: 100%;
    left: 40px;
    display: grid;
    grid-template-columns: 103px;
    grid-template-rows: 40px;
    font-size: 20px;
    gap: 50px 10px;
  }

  .editor {
    width: 100px;
    height: 40px;
    margin: 12px 20px;
    font-size: 14px;
  }
  .editor p {
    display: inline;
    left: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .editor1 {
    width: 100px;
    height: 40px;
    margin: 1px 5px;
    font-size: 20px;
  }
  .editor1 p {
    display: inline;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .desc {
    margin: 5px 0px;
  }
}
