.container {
  width: 100%;
  height: 100%;
  margin: 0;
  margin-top: 70px;
}

.menu {
  width: 1066px;
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: #f1f1f1;
  color: #000000;
  text-align: center;
  margin-left: 185px;
}
.menu p {
  font-size: 30px;
  padding: 5px;
  margin-left: 50px;
}
.titulo {
  width: 1066px;
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: #333;
  color: #fff;
  text-align: center;
  margin-left: 185px;
}
.titulo p {
  font-size: 30px;
  padding: 5px;
  margin-left: 50px;
}
.form {
  width: 1064px;
  padding: 15px;
  color: white;
  border: 1px solid #ccc;
  background-color: #333;
  margin-left: 187px;
}
.form1 {
  width: 1064px;
  padding: 50px 130px;
  color: white;
  border: 1px solid #ccc;
  background-color: #333;
  margin-left: 187px;
  display: grid;
  grid-template-columns: 105px 105px;
  gap: 60px 150px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.editor,
.editor1 {
  width: 100%;
  max-width: 150px;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  background-color: #f44336;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.editor1 {
  margin-top: 15px;
  background-color: #e53935;
}

.editor:hover,
.editor1:hover {
  background-color: #4caf50;
}

.form1 p {
  margin: 5px 0;
}

.form1 strong {
  margin-right: 10px;
}
@media screen and (max-width: 770px) {
  .menu {
    width: 105%;
    height: 13%;
    margin-left: -12px;
    background-color: rgb(231, 33, 33);
    margin-top: -18px;
    color: rgb(248, 247, 247);
  }
  .menu p {
    display: block;
    margin: 25px 13px;
    text-align: center;
  }
  .titulo {
    width: 105%;
    height: 13%;
    margin-left: -12px;
    background-color: rgb(26, 26, 26);
    margin-top: -15px;
    color: rgb(248, 247, 247);
    font-size: 15px;
  }

  .titulo p {
    margin-left: 12px;
    margin-top: 15px;
  }
  .form {
    display: block;
    width: 105.8%;
    padding: 15px;
    color: white;
    border: 1px solid #ccc;
    background-color: #333;
    margin-left: -15px;
  }
  .form1 {
    display: block;
    width: 105.5%;
    color: white;
    border: 1px solid #ccc;
    background-color: #333;
    margin-left: 0;
    padding: 25px 50px;
    margin-left: -15px;
  }
}
