.navbar{
    background-color: #AE0000;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    box-sizing: border-box;
   
  
}

img {
    width: 40px;
    justify-content: center;
   
}

ul{
    list-style: none;
    display: flex;
    gap: 17px;
    align-items: center;
    
}

.menu_izquierda{
    margin: 15px;
    display: flex;
}

.menu_centro{
    margin: auto;
    justify-content: center;
    
}
.menu_derecha{
    margin: 17px;
}

a{
    text-decoration: none;
    color: white;
    
}

.menu_lateral{
    position: absolute;
}



