<nav class="navbar">
  <div class="menu_izquierda">
    <div class="menu_d">
      <a (click)="menu = !menu" (click)="toggleMenu()"
        ><img src="assets/img/menu.png"
      /></a>
    </div>

    <li>
      <a [routerLink]="['/home']"> HOME </a>
    </li>
    <li>
      <a [routerLink]="['/shop']">SHOP</a>
    </li>
    <li>
      <a [routerLink]="['/error']">THE CLUB</a>
    </li>
  </div>

  <div class="menu_centro">
    <li>
      <a href="http://localhost:50395/home"
        ><img src="./assets/img/Logo.png" alt="Logo"
      /></a>
    </li>
  </div>

  <div class="menu_derecha">
    <li>
      <a (click)="search = !search" (click)="toggleSearch()">
        <img src="./assets/img/Vector.png" alt="Buscador"
      /></a>
    </li>
    <div class="iconos">
      <ul>
        <li>
          <a [routerLink]="['/error']"><i class="fi fi-rs-heart"></i></a>
        </li>
      </ul>
      <ul>
        <li>
          <a (click)="togglePerfil()" (click)="iconosAbierto = !iconosAbierto"
            ><i class="fi fi-sr-user" style="color: #d5dae2"></i>
          </a>
        </li>
      </ul>
    </div>
    <div class="cart">
      <div class="marcador">
        <p class="cero">{{ (myCart$ | async)?.length }}</p>
      </div>
      <i
        (click)="onToggleCard()"
        (click)="toggleCart()"
        class="fi fi-rs-shopping-bag"
      ></i>
    </div>
  </div>
</nav>

<div class="carrito" [ngClass]="{ show: isCartOpen }">
  <app-cart (click)="toggleCart()" (closeCartEvent)="closeCart()"></app-cart>
</div>

<div>
  <div class="search" *ngIf="SearchAbierto">
    <input type="text" placeholder="Search" />
  </div>
</div>

<div>
  <div>
    <div class="menu" *ngIf="menuAbierto">
      <ul>
        <li>
          <a [routerLink]="['/perfil']">PROFILE</a>
        </li>
      </ul>
      <ul>
        <li>
          <a [routerLink]="['/error']">ACADEMY</a>
        </li>
      </ul>
      <ul>
        <li>
          <a [routerLink]="['/login']">LOGIN</a>
        </li>
      </ul>
      <ul>
        <li>
          <a [routerLink]="['/registro']">REGISTER</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="menu2" *ngIf="iconosAbierto">
    <ul>
      <li>
        <a [routerLink]="['/login']">LOGIN</a>
      </li>
    </ul>
    <ul>
      <li>
        <a [routerLink]="['/registro']">REGISTER</a>
      </li>
    </ul>
  </div>
</div>
