.navbar{
    background-color: #1A161A;
    display:flex;
    justify-content: center;
    align-items: center;
    margin: auto 0;
    box-sizing: border-box;
    text-transform: uppercase;
    list-style-type: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    width: 100%;
    height: 15%;
    
}

img {
    width: 20px;
    justify-content: center;
}

ul{
    list-style: none;
    display: flex;
    gap: 17px;
    align-items: center;
}
.menu_d{
    border-radius: 2px;
    padding: 4px 3px ;
}
.menu_d:hover{
    background-color: rgb(255, 0, 0); 
    transition: .5s; 
}
.menu_izquierda{
    width: 100%;
    margin: 15px;
    display: flex;
    position: absolute;
    left: 15px;
    font-size: 18px;
    padding: 7px ;
    gap: 20px;
    align-items: center;
    
}

.menu_izquierda a:hover{
    background-color: rgb(255, 0, 0); 
    transition: .5s; 
}

.menu_izquierda li a{
    width: 100%;
    border-radius:3px;
    line-height: 10px;
    margin-right: 10px;
    font-size: 17px;
    padding: 5px;
}
.menu_centro img{
    width: 30px;
    display: grid;
    place-items: center;
}


.menu_derecha{
    margin: 15px;
    display: flex;
    position: absolute;
    right: 20px;
    font-size: 18px;
    padding: 3px;
}

.menu_derecha a:hover{
    background-color: rgb(255, 0, 0); 
    transition: .5s; 
    
}

.menu_derecha li a{
    border-radius:5px;
    line-height: 10px;
    margin-right: 10px;
    font-size: 17px;
    padding: 7px;
}

a{
    text-decoration: none;
    color: white;
    
}
.menu{
background-color:#221f1f;
padding: 15px;
width: 100%;
display: grid;
place-items: center;
font-size: 20px;
gap: 10px;
position: fixed;
top: 15%;
z-index: 8;
}

.menu a:hover{
    background-color: rgb(255, 0, 0);
    transition: .5s
    
}

.menu ul li a{
    border-radius: 3px;
    line-height: 20px;
    margin-right: 40px;
    font-size: 17px;
    padding: 7px 13px;
}
.search{
    background-color:#221f1f;
    padding: 15px;
    width: 100%;
    display: grid;
    place-items: center;
    font-size: 20px;
    gap: 10px;
    position: fixed;
    top: 15%;
    z-index: 8;
    }
    .search input{
        width: 100%;
        
    }
    
@media only screen and (max-width: 368px){ 
    nav{
        width: 100%;
        height: 2%;
        
    }

    .menu_izquierda li a{
    display: none;

}
.menu_derecha ul li a {
    display: none;
}
.menu_centro{
    width: 10px;
    place-items: center;
    display: none;
}

.menu_d {
    display: block;
    border-radius: 5px;
}

} 

@media only screen and (max-width: 968px){ 
    
    .menu_izquierda li a{
        display: none;
    
    }
    .menu_derecha ul li a {
        display: none;
    }
    .menu_centro{
        width: 15px;
        place-items: center;
        display: none;
    }
    
    .menu_d {
        display: block;
        border-radius: 5px;
    }
    
    } 
