.navbar{
    background-color: #1A161A;
    display:flex;
    justify-content: center;
    align-items: center;
    margin: auto 0;
    box-sizing: border-box;
    text-transform: uppercase;
    list-style-type: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 15%;
    
}
h1{
    top: 85;
    text-align: center;
}
img {
    width: 20px;
    justify-content: center;
}

ul{
    list-style: none;
    display: flex;
    gap: 17px;
    align-items: center;
}
.menu_d{
    border-radius: 2px;
    padding: 4px 3px ;
}
.menu_d:hover{
    background-color: rgb(255, 0, 0); 
    transition: .5s; 
}
.menu_izquierda{
    width: 100%;
    margin: 15px;
    display: flex;
    position: absolute;
    left: 15px;
    font-size: 18px;
    padding: 7px ;
    gap: 20px;
    align-items: center;
    
}

.menu_izquierda a:hover{
    background-color: rgb(255, 0, 0); 
    transition: .5s; 
}

.menu_izquierda li a{
    width: 100%;
    border-radius:3px;
    line-height: 10px;
    margin-right: 10px;
    font-size: 17px;
    padding: 5px;
}
.menu_centro img{
    width: 35px;
    display: flex;
    place-items: center;
}

.menu_derecha{
    padding: 1rem;
    justify-content: space-between;
    display: flex;
    margin: 15px  ;
    position: absolute;
    right: 10px;
    font-size: 18px;
    padding: 3px;
}

.menu_derecha a:hover{
    background-color: rgb(255, 0, 0); 
    transition: .5s; 
    
}

.menu_derecha li a {
    position: relative;
    border-radius:5px;
    line-height: 10px;
    margin-right: 10px;
    font-size: 17px;
    padding: 7px;
}

a{
    text-decoration: none;
    color: white;
    
}
.cart{
    position: relative;
    margin: right 5px;;
    
        .marcador{
            position: relative;
            left: 5.1px ;
            top:-1.0rem;
            color: white;
            border: 1px solid rgba(254, 181, 12, 0.1);
            border-radius: 50%;
            background-color: rgb(172,14,14);
            height: 20px;
            width: 20px;
            .cero{
                font-size: 1.0rem;
                text-align: center;
                margin-top: -0.4rem;
            }
        }
    }

.fa-solid {
    position: absolute;
    width: 45px;
    height: 35px;
    top: 0.4rem;
}
.carrito{
    display: none;
}
.show{
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 5;
    position: fixed;
    border-radius: 0.5rem;
    right: 0 ;
    min-width: 10%;
    margin: 0;

    app-cart{
        display: flex;
        flex-direction: column;
        justify-content:center;
        margin: 15px;
        
        
    }
}

.menu{
background-color:#221f1f;
padding: 15px;
width: 100%;
display: grid;
place-items: center;
font-size: 20px;
gap: 10px;
position: fixed;
top: 15%;
z-index: 2;
}

.menu a:hover{
    background-color: rgb(255, 0, 0);
    transition: .5s
    
}

.menu ul li a{
    border-radius: 3px;
    line-height: 20px;
    margin-right: 40px;
    font-size: 17px;
    padding: 7px 13px;
}
.search{
    background-color:#221f1f;
    padding: 15px;
    width: 100%;
    display: grid;
    place-items: center;
    font-size: 20px;
    gap: 10px;
    position: fixed;
    top: 15%;
    z-index: 4;
    }
    .search input{
        width: 100%;
        
    }
.cart{
width: 30px ;
height: 30px;
margin: 0 10px ;
border-radius: 5px;

}

@media only screen and (max-width: 368px){ 
    nav{
        width: 100%;
        height: 2%;
        
    }

    .menu_izquierda li a{
    display: none;

}
.menu_derecha ul li a {
    display: none;
}
.menu_centro{
    width: 10px;
    place-items: center;
    display: none;
}

.menu_d {
    display: block;
    border-radius: 5px;
}
.cart{
    width: 30px ;
    height: 30px;
    margin: 0 10px ;
    border-radius: 5px;
    
    }
} 

@media only screen and (max-width: 968px){ 
    
    .menu_izquierda li a{
        display: none;
    
    }
    .menu_derecha ul li a {
        display: none;
    }
    .menu_centro{
        width: 15px;
        place-items: center;
        display: none;
    }
    
    .menu_d {
        display: block;
        border-radius: 5px;
    }
    .cart{
        width: 30px ;
        height: 30px;
        margin: 0 10px ;
        border-radius: 5px;
        }
    
    } 
