<nav class="navbar">
    
  <div class="menu_izquierda">
        
    <div class="menu_d">
          <a (click) ="menu=!menu"><img src="assets/img/menu.png" ></a>
    </div>       
      
      <li>   
        <a [routerLink]="['/home']"> HOME </a>
      </li>
      <li>
        <a [routerLink] = "['/shop']">SHOP</a>
      </li>
      <li>
        <a [routerLink] = "['']">THE CLUB</a>
      </li>
      
    </div>

    <div class="menu_centro">
      <li>
        <a href="http://localhost:50395/home"><img src="./assets/img/Logo.png" alt="Logo"></a>
      </li> 
    </div>
    

    <div class="menu_derecha">
      <li>
        <a (click) ="search=!search"> <img src="./assets/img/Vector.png" alt="Buscador"></a>
      </li>
      <ul>
      <li>
        <a [routerLink] = "['/login']" > Login </a>
      </li>
    </ul>
    <ul>
      <li>
        <a [routerLink]="['/registro']" >Register</a>
      </li>
    </ul>

      <div class="cart ">
      <div class="marcador">
        <p class="cero">{{(myCart$ | async)?.length }}</p>
      </div>
      <i class="fa-solid fa-cart-arrow-down position-absolute mb-0" style="color: #c2c9d6;" [ngClass]="{show:cart}" (click)="onToggleCard()" ></i>
      

           
      </div>
</div>
</nav>              

<div class="carrito" [ngClass]="{show:cart}">
<app-cart></app-cart>
</div>

<div class="search" *ngIf="search" >
<input type="text" placeholder="Search">
</div>

<div >
<div class="menu" *ngIf="menu" >
  <ul>
    <li>
      <a [routerLink]="['']">FANS</a>
    </li>
  </ul>
  <ul>
    <li>
      <a [routerLink]="['']">ACADEMY</a>
    </li>
  </ul>
  <ul>
    <li>
      <a [routerLink]="['/login']">LOGIN</a> 
    </li>
  </ul>
  <ul>
    <li>
      <a [routerLink]="['/registro']">REGISTER</a> 
    </li>
  </ul>
</div>
</div>
