.navbar {
  background-color: #1a161a;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto 0;
  box-sizing: border-box;
  text-transform: uppercase;
  list-style-type: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 12%;
}
h1 {
  top: 85;
  text-align: center;
}
img {
  width: 20px;
  justify-content: center;
}

ul {
  list-style: none;
  display: flex;
  gap: 17px;
  align-items: center;
}
.menu_d {
  border-radius: 2px;
  padding: 3px 1px;
  color: white;
  margin-top: -2px;
}

.menu_izquierda {
  width: 100%;
  margin: 5px;
  display: flex;
  position: absolute;
  left: 15px;
  font-size: 18px;
  padding: 7px;
  gap: 20px;
  align-items: center;
  text-align: center;
}
.menu_izquierda li {
  border-radius: 2px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-left: 15px;
}
.menu_izquierda li:hover {
  background-color: rgb(255, 0, 0);
  transition: 0.5s;
}

.menu_izquierda li a {
  width: 100%;
  border-radius: 3px;
  line-height: 10px;
  margin-right: 10px;
  font-size: 17px;
  padding: 5px;
}
.menu_centro img {
  width: 35px;
  display: flex;
  place-items: center;
}

.menu_derecha {
  padding: 1rem;
  justify-content: space-between;
  display: flex;
  margin: 15px;
  position: absolute;
  right: -5px;
  font-size: 18px;
}

.menu_derecha a:hover {
  transition: 0.5s;
}

.menu_derecha li a {
  position: relative;
  border-radius: 5px;
  line-height: 10px;
  margin-right: 25px;
  font-size: 17px;
  padding: 7px;
}

a {
  text-decoration: none;
  color: white;
}
.cart {
  position: relative;
  margin: right 5px;
  top: 3px;
  .marcador {
    position: relative;
    left: 9.1px;
    top: -0.5rem;
    color: white;
    border: 1px solid rgba(254, 181, 12, 0.1);
    border-radius: 50%;
    background-color: rgb(172, 14, 14);
    height: 18px;
    width: 18px;
    z-index: 9;
    .cero {
      font-size: 1rem;
      text-align: center;
      margin-top: -0.4rem;
    }
  }
}

.fi {
  color: white;
  position: absolute;
  width: 35px;
  height: 45px;
  top: -0rem;
  font-size: 22px;
}
.carrito {
  display: none;
}
.show {
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 5;
  position: fixed;
  border-radius: 0.5rem;
  right: 0;
  min-width: 10%;
  margin: 0;

  app-cart {
    width: 480px;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px 10px;
  }
}

.menu {
  background-color: #221f1f;
  padding: 15px;
  width: 100%;
  display: grid;
  place-items: center;
  font-size: 20px;
  gap: 10px;
  position: fixed;
  top: 12%;
  z-index: 2;
}

.menu a:hover {
  background-color: rgb(255, 0, 0);
  transition: 0.5s;
}

.menu ul li a {
  border-radius: 3px;
  line-height: 20px;
  margin-right: 40px;
  font-size: 17px;
  padding: 7px 13px;
}

.menu2 {
  background-color: #221f1f;
  padding: 15px;
  width: 10%;
  display: grid;
  place-items: center;
  font-size: 20px;
  gap: 10px;
  position: fixed;
  top: 12%;
  right: 22px;
  z-index: 2;
  animation-duration: 2s;
}

.menu2 a:hover {
  background-color: rgb(255, 0, 0);
  transition: 0.5s;
}

.menu2 ul li a {
  border-radius: 3px;
  line-height: 20px;
  margin-right: 40px;
  font-size: 17px;
  padding: 7px 13px;
}
.search {
  background-color: #221f1f;
  padding: 10px;
  width: 100%;
  display: grid;
  place-items: center;
  font-size: 20px;
  gap: 8px;
  position: fixed;
  top: 12%;
  z-index: 4;
}
.search input {
  width: 100%;
}
.fi-rr-search {
  padding: 9px;
  margin-top: 5px;
  margin: 0 -10px;
}
.cart {
  width: 30px;
  height: 30px;
  margin: 0 10px;
  border-radius: 5px;
}
.iconos {
  display: flex;
  padding: 1px;
  gap: 18px;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 0.5rem;
  color: white;
  margin: 0 15px;
  right: -3px;
}

.user {
  background-color: rgb(55, 55, 55);
  color: #ffffff;
  position: absolute;
  border-radius: 5px;
  top: 37px;
  left: 30px;
  padding: 10px;
  margin: 5px;
}

.user option {
  margin: 5px 0;
}
.user option:hover {
  color: #ffffff;
  border-bottom: 1px solid #ccc;
}
@media screen and (max-width: 320px) {
  .navbar {
    width: 100%;
    height: 8%;
  }
  .search {
    width: 25%;
    margin-top: -275px;
  }

  .menu_d a {
    display: flex;
  }
  .menu_izquierda li a {
    display: none;
  }
  .menu_derecha ul li a {
    display: none;
  }
  .menu_centro {
    width: 10px;
    place-items: center;
    display: none;
  }

  .menu_d {
    display: block;
    border-radius: 5px;
  }
  .cart {
    width: 30px;
    height: 30px;
    margin: 0 10px;
    border-radius: 5px;
  }
}
@media screen and (max-width: 390px) {
  .navbar {
    width: 100%;
    height: 8%;
  }
  .search {
    width: 25%;
    margin-top: -275px;
  }

  .menu_d a {
    display: flex;
  }
  .menu_izquierda li a {
    display: none;
  }
  .menu_derecha ul li a {
    display: none;
  }
  .menu_centro {
    width: 10px;
    place-items: center;
    display: none;
  }

  .menu_d {
    display: block;
    border-radius: 5px;
  }
  .cart {
    width: 30px;
    height: 30px;
    margin: 0 10px;
    border-radius: 5px;
  }
}
@media screen and (max-width: 414px) {
  .navbar {
    width: 100%;
    height: 8%;
  }
  .menu_d a {
    display: flex;
  }

  .menu_centro {
    width: 10px;
    place-items: center;
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .navbar {
    width: 100%;
    height: 8%;
  }
  .menu_d a {
    display: flex;
  }

  .menu_derecha ul li a {
    display: none;
  }
  .menu_centro {
    width: 10px;
    place-items: center;
    display: none;
  }
}
@media screen and (max-width: 520px) {
  .navbar {
    width: 100%;
    height: 8%;
  }
  .menu_d a {
    display: flex;
  }

  .menu_derecha ul li a {
    display: none;
  }
  .menu_centro {
    width: 10px;
    place-items: center;
    display: none;
  }
}
@media screen and (min-width: 778px) {
  .menu_d a {
    display: flex;
  }
  .menu_izquierda li a {
    display: none;
  }
  .menu_derecha li a {
    position: relative;
    border-radius: 5px;
    line-height: 10px;
    margin-right: -15px;
    font-size: 17px;
    padding: 7px;
  }
  .menu_derecha ul li a {
    display: none;
  }

  .menu_centro {
    width: 15px;
    place-items: center;
    display: none;
  }

  .menu_d {
    display: block;
    border-radius: 5px;
  }
  .cart {
    width: 30px;
    height: 30px;
    margin: 0 10px;
    border-radius: 5px;
  }
}
@media screen and (max-width: 820px) {
  .navbar {
    width: 100%;
    height: 7%;
  }
  .menu_izquierda li {
    display: none;
  }
}
