<section *ngIf="!product">  
    <div class="d-flex align-items-center justify-content-center vh-100">
        <div class="text-center row">
            <div class="imagen1" [routerLink] = "['/home']">
                <img class="img-fluid" src="./assets/img/Logo.png" alt="logo"
                    >
            </div>
            <div class=" escrito">
                <p class="fs-3"> 
                <span class="error" [routerLink] = "['/home']" >Opps!</span> Page not found.</p>
                <p class="lead">
                    The page you’re looking for doesn’t exist.
                </p>
                <button class="primary" [routerLink] = "['/home']" >Refresh Page</button>
            </div>
        </div>
    </div>
</section>
