<app-navbar></app-navbar>

<section class="h-100 gradient-form" style="background-color: #eee;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-4">
                
                <div class="text-center">
                  <img src="./assets/img/Logo.png"
                    style="width: 45px; margin: 16px"  alt="logo">
                  <h4 class="mt-2 mb-5 pb-1">Welcome back, milanista</h4>
                </div>

                <form>
                  
                  <div class="form-outline mb-4">
                    <label class="form-label" for="form2Example22">Email</label>
                    <input type="email"  id="form2Example11" class="form-control"
                      placeholder="Enter your email"/>
                    <label class="form-label" for="form2Example11"></label>
                  </div>

                  <div class="form-outline mb-4">
                    <label class="form-label" for="form2Example22">Password</label>
                    <input type="password"  id="form2Example22" class="form-control"   
                    placeholder="Enter your password"/>
                    
                  </div>

                  <div class="text-center pt-1 mb-5 pb-1">
                    <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button" style="width: 150px; height: 60px;">Log
                      in</button>
                  </div>

                  <div class="d-flex align-items-center justify-content-center pb-4">
                    <p class="mb-0 me-2">Not registerred yet?</p>

                    <a type="button" class="btn btn-outline-danger" href="http://localhost:4200/registro" target= "_blank" >Sign up</a>
                  </div>

                </form>

              </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
              <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                <h3 class="mb-4">FORCE MILAN</h3>
                <p class="small mb-0"> we are in charge of providing you wwith the best colletions of a.c.milan.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
