<div class="terminos-container">
  <h1 class="titulo">Términos y Condiciones</h1>

  <p class="descripcion">
    Bienvenido a AC-MILAN, un sitio web dedicado a los fanáticos del equipo de
    fútbol AC Milan. Al acceder y utilizar este sitio web, aceptas los
    siguientes términos y condiciones que rigen su uso. Si no estás de acuerdo
    con alguno de estos términos, te pedimos que no utilices nuestra página web.
  </p>

  <ul class="lista-terminos">
    <li class="termino">
      Propiedad intelectual: Todo el contenido presente en AC-MILAN, incluyendo
      pero no limitado a logotipos, imágenes, videos, textos, gráficos y
      software, está protegido por derechos de autor y otras leyes de propiedad
      intelectual. No está permitido copiar, modificar, distribuir o utilizar
      dicho contenido sin nuestro consentimiento previo y por escrito.
    </li>
    <li class="termino">
      Uso del sitio web: AC-MILAN es un sitio web destinado exclusivamente a
      fines informativos y de entretenimiento. No se permite el uso comercial
      del contenido sin autorización expresa. No podrás utilizar el sitio web de
      manera que interfieras con su funcionamiento, introduzcas virus
      informáticos o realices actividades ilícitas.
    </li>
    <li class="termino">
      Enlaces a sitios externos: AC-MILAN puede contener enlaces a sitios web de
      terceros. Estos enlaces se proporcionan únicamente para tu conveniencia.
      No tenemos control sobre el contenido de estos sitios externos y no nos
      hacemos responsables de su precisión, seguridad o legalidad. Al hacer clic
      en dichos enlaces, abandonas nuestro sitio web bajo tu propia
      responsabilidad
    </li>
    <li class="termino">
      Registro y cuenta de usuario: Al utilizar ciertas funciones de AC-MILAN,
      es posible que se te solicite crear una cuenta de usuario. Debes
      proporcionar información precisa y actualizada al registrarte, y eres
      responsable de mantener la confidencialidad de tus credenciales de acceso.
      Eres el único responsable de todas las actividades que ocurran bajo tu
      cuenta.
    </li>
    <li class="termino">
      Política de privacidad: Nos comprometemos a proteger tu privacidad y a
      utilizar tus datos personales de acuerdo con nuestra Política de
      Privacidad. Al utilizar AC-MILAN, aceptas nuestras prácticas de
      recopilación, uso y divulgación de información personal, que se describen
      en detalle en nuestra Política de Privacidad.
    </li>
    <li class="termino">
      Modificaciones en los términos y condiciones: Nos reservamos el derecho de
      modificar estos términos y condiciones en cualquier momento y sin previo
      aviso. Te recomendamos revisar periódicamente esta sección para estar al
      tanto de cualquier cambio. El uso continuado de AC-MILAN después de la
      modificación de los términos constituirá tu aceptación de los cambios
      realizados.
    </li>
    <li class="termino">
      Limitación de responsabilidad: AC-MILAN y su equipo no serán responsables
      de ningún daño directo, indirecto, incidental, especial o consecuente
      derivado del uso o la imposibilidad de uso de este sitio web. No
      garantizamos la disponibilidad continua y sin errores del sitio web ni
      asumimos ninguna responsabilidad por cualquier interrupción o error
      técnico.
    </li>
    <li class="termino">
      Ley aplicable y jurisdicción: Estos términos y condiciones se regirán e
      interpretarán de acuerdo con las leyes del país en el que está registrada
      AC-MILAN. Cualquier disputa que surja en relación con estos términos y
      condiciones se someterá a la jurisdicción exclusiva de los tribunales
      competentes de dicho país.
    </li>
  </ul>
  <p class="Desenlace">
    Recuerda que es importante consultar a un profesional legal para asegurarte
    de que los términos y condiciones cumplan con las leyes y regulaciones
    aplicables a tu región o país.
  </p>
</div>
<br />
