<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <div class="container">
      <a class="menu" [routerLink]="['/home']"
        ><img src="./assets/img/Logo.png" alt="Logo"
      /></a>

      <div class="link">
        <ul class="menu-list">
          <li>
            <a [routerLink]="['/perfil']"
              ><i class="fi fi-sr-user" style="color: #d5dae2"></i> Profile</a
            >
          </li>
          <li>
            <a [routerLink]="['/error']"
              ><i class="fi fi-rr-ticket"></i> Coupons</a
            >
          </li>
          <li>
            <a [routerLink]="['/perfil']"
              ><i class="fi fi-rs-lock" style="color: #d5dae2"></i>Security</a
            >
          </li>
          <li>
            <a [routerLink]="['/shop']">
              <i class="fi fi-rs-bags-shopping" style="color: #d5dae2"></i
              >Orders</a
            >
          </li>
          <li>
            <a [routerLink]="['/shop']"
              ><i class="fi fi-rs-heart"></i>Favorites</a
            >
          </li>
        </ul>

        <ul class="menu-list2">
          <li>
            <a [routerLink]="['/shop']"
              ><i
                class="fa-sharp fa-solid fa-circle-info"
                style="color: #d5dae2"
              ></i
              >Help</a
            >
          </li>
          <li>
            <a (click)="logout()">
              <i class="fa-solid fa-power-off" style="color: #d5dae2"></i>Log
              out</a
            >
          </li>
        </ul>
      </div>
    </div>
  </mat-sidenav>
</mat-sidenav-container>
