.sidenav-container {
  height: 100%;
  z-index: 1;
}

.container {
  height: 100%;
  width: 200px;
  background-color: rgb(21, 21, 21);
}
.menu img {
  position: absolute;
  width: 40px;
  height: 60px;
  margin: 0px 65px;
  top: 105px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-list {
  width: 100%;
  position: absolute;
  left: 0;
  color: #f1f1f1;
  background-color: rgb(21, 21, 21);
  list-style: none;
  padding: 0;
  top: 85px;
  margin: 100px 0;
  justify-content: left;
  align-items: center;
  text-align: left;
}

.menu-list li {
  padding: 10px;
}

.menu-list li a {
  text-decoration: none;
  color: white;
  margin: 4px 35px;
  display: flex;
  justify-content: left;
  align-items: center;
  text-align: left;
}

.menu-list li a i {
  position: absolute;
  left: 18px;
  cursor: pointer;
}
.menu-list li:hover {
  background-color: red;
}

.menu-list2 {
  width: 100%;
  position: absolute;
  left: 0;
  color: #f1f1f1;
  background-color: rgb(21, 21, 21);
  padding: 0;
  top: 385px;
  margin: 100px 0px;
  justify-content: left;
  align-items: center;
  text-decoration: none;
}
.menu-list2 li {
  padding: 8px;
}
.menu-list2 li a {
  text-decoration: none;
  color: white;
  margin: 4px 35px;
  display: flex;
  justify-content: left;
  align-items: center;
  text-align: left;
}

.menu-list2 li a i {
  position: absolute;
  left: 18px;
  cursor: pointer;
}
.menu-list2 li:hover {
  background-color: red;
}
