* {
  top: 10px;
}
section {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  padding: 75px 15px;
  background-color: rgb(242, 236, 236);
}
.error {
  color: white;
  cursor: pointer;
}
.error:hover {
  color: rgb(255, 0, 0);
  transition: 0.5s;
}
.imagen1 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 110px;
  margin: 0;
  background-color: #d2d0d0;
  border-radius: 5px;
  cursor: pointer;
}
.imagen1:hover {
  background-color: rgb(183, 182, 182);
  transition: 0.5s;
}
.primary {
  width: 50%;
  height: 20%;
  color: #1a161a;
  background-color: white;
  border-radius: 5px;
}
.primary:hover {
  color: white;
  background-color: rgb(255, 0, 0);
  transition: 0.5s;
}
.escrito {
  width: 100%;
  width: 100%;
  margin: 15px 0;
  padding: 12px 40px;
  background-color: #1a161a;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 5px;
}
.volver {
  width: 8%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  margin: 15px;
  cursor: pointer;
}
.volver:hover {
  background-color: rgb(183, 182, 182);
  transition: 0.5s;
}
.fotos {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  margin: 15px 10px;
  cursor: pointer;
}
.fotos div {
  display: flex;
  background: rgb(233, 231, 231);
  width: 7rem;
  height: 7rem;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.fotos div img {
  width: 75px;
}

.producto-foto {
  display: flex;
  width: 80.9rem;
  height: 29.9rem;
  background: rgb(233, 231, 231);
  align-items: center;
  justify-content: center;
  top: 130px;
}
.producto-foto img {
  width: 20rem;
}

.nombre {
  display: flex;
  flex-direction: column;
  width: 28rem;
  gap: 5px;
}
.producto {
  font-size: 25px;
  font-weight: bold;
}
.descripcion {
  display: block;
  flex-direction: column;
  width: 92%;
  height: 10%;
}
.acordion button {
  border: 1px solid #1a161a;
  background-color: #f1efef;
  color: rgb(8, 8, 8);
}
.acordion button:hover {
  background-color: #1a161a;
  transition: 0.5s;
  color: white;
}

.acordion2-collapse {
  border: 1px solid;
  background-color: #f1efef;
  color: rgb(8, 8, 8);
}
.accordion-body {
  text-align: start;
}
h5 {
  padding: 10px 1px;
}
.tallas {
  display: flex;
  gap: 10px;
  margin: 10px 0;
  text-align: center;
  color: white;
  padding: 0 18px;
  cursor: pointer;
}
.cuadrado1 {
  width: 40px;
  height: 28px;
  background: #101010;
  margin: 2px;
}
.cuadrado1:hover {
  background-color: rgb(255, 0, 0);
  transition: 0.5s;
}
.cuadrado2 {
  width: 40px;
  height: 28px;
  background: #101010;
  margin: 2px;
}
.cuadrado2:hover {
  background-color: rgb(255, 0, 0);
  transition: 0.5s;
}
.cuadrado3 {
  width: 40px;
  height: 28px;
  background: #101010;
  margin: 2px;
}
.cuadrado3:hover {
  background-color: rgb(255, 0, 0);
  transition: 0.5s;
}
.cuadrado4 {
  width: 40px;
  height: 28px;
  background: #101010;
  margin: 2px;
}
.cuadrado4:hover {
  background-color: rgb(255, 0, 0);
  transition: 0.5s;
}

.precio {
  padding: 0 2px;
  font-size: 23px;
  font-weight: 600;
}
.boton {
  display: block;
  background-color: #101010;
  color: white;
  border-radius: 6px;
  width: 100%;
  height: 2.8rem;
}
.boton:hover {
  background-color: #ae0000;
  transition: 0.5s;
}
@media only screen and (max-width: 768px) {
  section {
    width: 100%;
    height: 100%;
    display: block;
    margin: 0;
  }
  .fotos {
    display: none;
    width: 100%;
  }
  .producto-foto {
    display: block;
    width: 100%;
    padding: 80px 80px;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .container {
    width: 1000px;
    display: block;
  }
  .volver {
    width: 30px;
    height: 40px;
    border-radius: 16px;
    padding: 10px 1px;
    margin-top: 15px 15px;
  }
}
.menu_derecha ul li a {
  display: none;
}
.menu_centro {
  width: 10px;
  place-items: center;
  display: none;
}

.menu_d {
  display: block;
  border-radius: 5px;
}

@media only screen and (max-width: 428px) {
  .menu_izquierda li a {
    display: none;
  }
  .menu_derecha ul li a {
    display: none;
  }
  .menu_centro {
    width: 15px;
    place-items: center;
    display: none;
  }

  .menu_d {
    display: block;
    border-radius: 5px;
  }
  .container {
    width: 20%;
    display: block;
  }
  .acordion button {
    width: 10px;
  }
}
