.header {
  display: flex;
  margin-top: 60px;
}
.carousel slide {
  position: relative;
  justify-content: center;
}
.carousel-control-prev-icon {
  color: black;
  background-color: black;
  border-radius: 5px;
  z-index: 1;
}
.carousel-control-next-icon {
  color: black;
  background-color: black;
  border-radius: 5px;
  z-index: 1;
}
.carousel-indicators {
  z-index: 1;
}
