
.carousel slide{
    position: relative;
    justify-content: center;
    
}
.carousel-control-prev-icon {
    color: black;
    background-color: black;
    border-radius: 5px;
}
.carousel-control-next-icon{
    color: black;
    background-color: black;
    border-radius: 5px;
}
.carousel-indicators{
    z-index: 1;
}