<app-carusel></app-carusel>
<section style="background-color: #eee;">
  <div class="container py-5">
    <div class="row">
      <div class="col-md-12 col-lg-4 mb-4 mb-lg-0">
        <div class="card">
          <div class="d-flex justify-content-between p-3">
            <p class="lead mb-0">Today's Combo Offer</p>

          </div>
          <img src="assets/img2/leao.png"
            class="card-img-top" alt="leao" />
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <p class="small"><a href="#!" class="text-muted">Before</a></p>
              <p class="small text-danger"><s>$1499</s></p>
            </div>

            <div class="d-flex justify-content-between mb-3">
              <h5 class="mb-0">Leao 2022/2023</h5>
              <h5 class="text-dark mb-0">$1199</h5>
            </div>

            <div class="d-flex justify-content-between mb-2">
              <p class="text-muted mb-0">Product<span class="fw-bold"> 1</span></p>
              <div class="ms-auto text-warning">
                <i class="fa fa-star">Now  $999</i>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="col-md-6 col-lg-4 mb-4 mb-md-0">
        <div class="card">
          <div class="d-flex justify-content-between p-3">
            <p class="lead mb-0">Today's Combo Offer</p>
          </div>
          <img src="assets/img2/theo.png"
            class="card-img-top" alt="theo" />
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <p class="small"><a href="#!" class="text-muted">Before</a></p>
              <p class="small text-danger"><s>$1199</s></p>
            </div>

            <div class="d-flex justify-content-between mb-3">
              <h5 class="mb-0">Theo 2022/2023</h5>
              <h5 class="text-dark mb-0">$1099</h5>
            </div>

            <div class="d-flex justify-content-between mb-2">
              <p class="text-muted mb-0">Product <span class="fw-bold"> 2</span></p>
              <div class="ms-auto text-warning">
                <i class="fas fa-star">Now  $1399</i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-4 mb-md-0">
        <div class="card">
          <div class="d-flex justify-content-between p-3">
            <p class="lead mb-0">Today's Combo Offer</p>
          </div>
          <img src="assets/img2/maignan.png"
            class="card-img-top" alt="maignan" />
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <p class="small"><a href="#!" class="text-muted">Before</a></p>
              <p class="small text-danger"><s>$1400</s></p>
            </div>

            <div class="d-flex justify-content-between mb-3">
              <h5 class="mb-0">Maignan 2022/2023</h5>
              <h5 class="text-dark mb-0">$1200</h5>
            </div>

            <div class="d-flex justify-content-between mb-2">
              <p class="text-muted mb-0">Product <span class="fw-bold"> 3</span></p>
              <div class="ms-auto text-warning">
                <i class="fa fa-star">Now  $1150</i>
              </div>
            </div> 
          </div>
        </div>
      </div>

      <div class="mas">
        <button [routerLink]="'/login'">See more Products</button>
      </div>
    </div>
  </div>

</section>

<div class="contar">
    <div class=" card12">
          <h5 class="titulo">Card title</h5>
          <p class="descripcion">
            Milan is the second team with the most champions cups 
          </p>
          <div class="camilo">
            <button class="andres" type="button" >See more</button>
            </div><br>
        </div>

        <div class=" card13">
          <h5 class="titulo">Card title</h5>
          <p class="descripcion">
            milan is the second team with the most champions cups</p>

          <div class="camilo">
            <button class="andres" type="button" >See more</button>
            </div><br>
        </div>

        <div class=" card14">
          <h5 class="titulo">Card title</h5>
          <p class="descripcion">
            milan is the second team with the most champions cups  </p>

          <div class="camilo">
            <button class="andres" type="button" >See more</button>
          </div><br>
        </div>
      </div>

      








<div class="logos">
  <a href="https://pumaco.com.co/" target= "_blank">
      <img src="./assets/img2/logos/puma.png"  alt="marca1">
  </a>
  <a href="https://www.bmw.com.co/es/index.html" target= "_blank">
      <img src="./assets/img2/logos/bmw.png" alt="marca2">
  </a>
  <a href="https://co.ebay.com/" target= "_blank">
      <img src="./assets/img2/logos/ebay.png" alt="marca3">
  </a>
  <a href="https://gatorade.lat/" target= "_blank">
      <img src="./assets/img2/logos/gatorade.png" alt="marca4">
  </a>
  
  <a href="https://www.off---white.com/" target= "_blank">
      <img src="./assets/img2/logos/off-white.png"  alt="marca5">
  </a>
  
  <a href="https://www.bitmex.com/" target= "_blank">
      <img  src="./assets/img2/logos/bitmex.png" alt="marca6">
  </a>
</div>
  


<app-footer></app-footer>