*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
div img{
    
    background-position: auto;
    background-repeat: no-repeat;
    height: 650px;
    width: 100%;

}

.carousel-inner{
    display: flex;
    background-position: auto;
    background-color: #1A161A;
}


button span{
    background-color: #1A161A;
    background-position: absolute;
}

.logos{
    margin: 10px;
    display: flex;
    background-position: auto;
    height: 120px;
    width: 100%;
    padding: 20px;
    
}
a img{
    height: 90px;
    width: 100%;
    margin: 1px;
    padding: 14px;
    object-fit: cover;
   
}
