.contar{
display: grid;
color: rgb(12, 12, 12);
grid-template-columns: 380px 380px 380px  ;
grid-template-rows: 100px ;
gap:12px;
justify-content: center;
border-radius: 8px;
padding: 12px;
display: flex;
top: 25px;

}
.card12{
border-style: solid;
justify-content: center;
}
.card13{
    border-style: solid;
    justify-content: center;
    }
    .card14{
        border-style: solid;
        justify-content: center;
        }        
        
.descripcion{
text-align: center;
margin: 15px;
}
.amigo{
    border-radius: 50px;
    width: 20px;
    height: 10px;
    
}

.titulo{
    text-align: center;
    color: #1A161A;
    
} 

h3{
    text-align: center;
    margin-top: 25px;
    margin: 15px;
}

.mas{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 38px;
    margin-top: 20px;
    
}
.mas button{
border-radius: px;
background-color: #1A161A ;
color: rgb(247, 244, 244);
width: 200px;
height: 38px;
margin-top: 8px;
}
.mas button:hover{
    background-color: #AE0000;
    transition: .5s ;
}

div .andres{ 
display: flex;
border-radius: 10px;
background-color: #1A161A ;
color: rgb(247, 244, 244);
width: 100px;
height: 38px;
margin: auto;
text-align: center;
justify-content: center;
align-items: center;
}

div .andres:hover{
    background-color: #AE0000;
    transition: .5s;
}
div a img{
    width: 165px;
    height: 40;
    display: inline-block;
    border-radius: 18px;
    padding: 20px 20px;
    margin: 15px;

}

.noticias{
    display: flex;
    margin-top: 8px;
    padding: 10px;
    top: 1px;
    width: 100%;
    height: 100%;
    border-radius: 2px;
}

.marcas{
    margin-top: 50px;
    width: 100%;
    height: 100%;
    padding: 16px;
    background-color: #ebdddd;
    padding: 10px;
    
}
@media screen and (min-width: 768px){
.container-img {
    display: block;
}
.description, .form{
    width: 40%;
}
.container-login{
    display: grid;
    grid-template-columns: 3fr 4fr;
}
.container-img img{
    object-fit: cover;
    width: 100%;
    height: 100vh
}


@media screen and (max-width: 768px){ 
    .col{
        width: 100%;
        justify-content: center;
        gap: 20;
    }
    .logos{
        width: 100%;
        justify-content: center;
        gap: 20;
    }
    
}
@media screen and (max-width: 458px){ 
    .contar{
        width: 30%;
        justify-content: center;
        gap: 20;
        display: block;
        grid-template-columns: 3fr 4fr;
        align-items: center;
        
    }
    .card12{
        width: 40%;
        display: block;
    }
    .card13{
        width: 40%;
        display: block;
    }
    .card14{
        width:40%;
        display: block;
    }
}

}