.contar {
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
}
.card-img-top:hover {
  transform: scale(0.9);
  transition: transform 1s;
}
h3 {
  text-align: center;
  margin-top: 10px;
  margin: 15px;
}
.card1 {
  width: 100%;
  height: 100%;
  display: flex;
  border-radius: 6px;
  border-style: solid;
  justify-content: center;
  align-items: center;
}
.card1 figure {
  position: relative;
  width: 390px;
  overflow: hidden;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0px 15px 25px rgba(246, 243, 243, 0.5);
}
.card1 figure:hover {
  box-shadow: 7px 7px 20px red;
  transform: translateY(-7%);
}
.card1 figure img {
  max-width: 100%;
  height: 100%;
  transition: all 500ms ease-out;
  object-fit: contain;
}

.card1 figure .titulo {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: #1a161a;
  transition: all 500ms ease-out;
  opacity: 0;
  visibility: hidden;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card1 figure:hover > .titulo {
  opacity: 1;
  visibility: visible;
}
.card1 figure .titulo h4 {
  color: white;
  margin-top: 0;
  margin-bottom: 0;
}
.card1 figure .titulo p {
  font-size: 15px;
  line-height: 1.5;
  width: 100%;
  max-width: 220px;
  margin-top: 4px;
  margin-bottom: 0;
}

.mas {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 38px;
  margin-top: 20px;
}
.mas button {
  border: none;
  border-radius: 5px;
  background-color: #1a161a;
  color: rgb(247, 244, 244);
  width: 200px;
  height: 38px;
  margin-top: 8px;
}
.mas button:hover {
  background-color: #ae0000;
  transition: 0.5s;
}

div .andres {
  display: flex;
  border-radius: 10px;
  background-color: #1a161a;
  color: rgb(247, 244, 244);
  width: 100px;
  height: 38px;
  margin: auto;
  text-align: center;
  justify-content: center;
  align-items: center;
}

div .andres:hover {
  background-color: #ae0000;
  transition: 0.5s;
}
div a img {
  position: relative;
  width: 145px;
  height: 40;
  display: inline-block;
  border-radius: 18px;
  padding: 12px 20px;
  margin: 0px 25px;
  justify-content: center;
}

.noticias {
  display: flex;
  margin-top: 8px;
  padding: 10px;
  top: 1px;
  width: 100%;
  height: 100%;
  border-radius: 2px;
}

.marcas {
  margin-top: 50px;
  width: 100%;
  height: 100%;
  padding: 15px 15px;
  background-color: #ebdddd;
}
.logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 180px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.aimagen {
  animation: scale 3s infinite;
}

.aimagen:hover {
  transform: scale(1.1);
  transition: 3s;
}

@media screen and (min-width: 390px) {
  .col {
    width: 100%;
    justify-content: center;
    gap: 20;
    display: block;
  }
  .marcas {
    display: block;
    width: 100%;
    height: 100%;
  }
  .logos {
    justify-content: center;
  }

  .logo {
    width: 145px;
    height: auto;
    margin: 10px;
  }
  .card1 {
    width: 100%;
    height: 100%;
    border-style: solid;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .contar {
    width: 92%;
    height: 100%;
    justify-content: center;
    display: block;
    align-items: center;
    margin: 0;
    margin-top: 0;
  }
}
@media screen and (max-width: 414px) {
  .col {
    width: 100%;
    justify-content: center;
    gap: 20;
    display: block;
  }
  .marcas {
    display: block;
    width: 100%;
    height: 100%;
  }
  .logos {
    justify-content: center;
  }

  .logo {
    width: 145px;
    height: auto;
    margin: 10px;
  }
  .card1 {
    width: 100%;
    height: 100%;
    border-style: solid;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .contar {
    width: 92%;
    height: 100%;
    justify-content: center;
    display: block;
    align-items: center;
    margin: 0;
    margin-top: 0;
  }
}
@media screen and (max-width: 480px) {
  .col {
    width: 100%;
    justify-content: center;
    gap: 20;
    display: block;
  }
  .marcas {
    display: block;
    width: 100%;
    height: 100%;
  }
  .logos {
    justify-content: center;
  }

  .logo {
    width: 145px;
    height: auto;
    margin: 10px;
  }
  .card1 {
    width: 100%;
    height: 100%;
    border-style: solid;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .contar {
    width: 92%;
    height: 100%;
    justify-content: center;
    display: block;
    align-items: center;
    margin: 0;
    margin-top: 0;
  }
}
@media screen and (max-width: 820px) {
  .col {
    width: 100%;
    justify-content: center;
    gap: 20;
    display: block;
  }
  .marcas {
    display: block;
    width: 100%;
    height: 100%;
  }
  .logos {
    flex-wrap: wrap;
    justify-content: center;
  }
  .logo {
    width: 100px;
    height: auto;
    margin: 10px;
  }
  .card1 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0;
  }
  .contar {
    width: 100%;
    height: 100%;
    justify-content: center;
    gap: 20;
    display: block;
    grid-template-columns: 3fr 4fr;
    align-items: center;
  }
}
@media screen and (min-width: 912px) {
  .contar {
    width: 30%;
    height: 30%;
    justify-content: center;
    display: flex;
    align-items: center;
    margin: 0;
    margin-left: 320px;
    gap: 20px;
  }
}
@media screen and (min-width: 1024px) {
  .col {
    width: 100%;
    justify-content: center;
    gap: 20;
    display: block;
  }
  .marcas {
    display: block;
    width: 100%;
    height: 100%;
  }
  .logos {
    justify-content: center;
  }

  .logo {
    width: 145px;
    height: auto;
    margin: 10px;
  }
  .card1 {
    width: 100%;
    height: 100%;
    display: flex;
    margin: 5px;
  }
  .contar {
    width: 30%;
    height: 30%;
    justify-content: center;
    display: flex;
    align-items: center;
    margin: 0;
    margin-left: 360px;
    gap: 5px;
  }
}
@media screen and (min-width: 1280px) {
  .contar {
    width: 30%;
    height: 30%;
    justify-content: center;
    display: flex;
    align-items: center;
    margin: 0;
    gap: 10px;
    margin-left: 450px;
  }
}
