*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    padding: 0;
   
}
div img{
    
    background-position: auto;
    background-repeat: no-repeat;
    height: 600px;
    width: auto;
    padding: 0;

}
.carousel-inner{
    display: flex;
    background-position: auto;

   
}


button span{
    background-color: #1A161A;
    background-position: absolute;
}

.logos{
    margin: 10px;
    display: flex;
    background-position: auto;
    height: 120px;
    width: 15px;
    padding: 20px;
    object-fit: cover;
}
a img{
    height: 70px;
    padding: 1px;
    margin: 5px;
    object-fit: cover;
    text-align: center;
}
 @media (min-width: 768px) {
 .section {
 height: 100vh ;
 }
 }
 @media (min-width: 769px) {
.section {
 border-top-right-radius: .3rem;
 border-bottom-right-radius: .3rem;
 }
 }