<br><br><br>
<app-carusel></app-carusel>
<section style="background-color: #eee;">
  <div class="container py-5">
    <div class="row">
      <h3>Offers of the day</h3>
      <br><br><br>
      <div class="col-md-12 col-lg-4 mb-4 mb-lg-0">
        <div class="card">
          <div class="d-flex justify-content-between p-3">
            <p class="lead mb-0">Today's Combo Offer</p>
          </div>
          <img  (click)="redirectToDetalleProducto('prod1')" src="assets/imgP/primera.webp"class="card-img-top" alt="camisa1"/>
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <p class="small"><a class="text-muted">Before</a></p>
              <p class="small text-danger"><s>$1499</s></p>
            </div>

            <div class="d-flex justify-content-between mb-3">
              <h5 class="mb-0">AUTHENTIC AC MILAN 1ST SHIRT</h5>
              <h5 class="text-dark mb-0">$1199</h5>
            </div>

            <div class="d-flex justify-content-between mb-2">
              <p class="text-muted mb-0">Product<span class="fw-bold"> 1</span></p>
              <div class="ms-auto text-warning">
                <i class="a">Now  $999</i>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="col-md-6 col-lg-4 mb-4 mb-md-0">
        <div class="card">
          <div class="d-flex justify-content-between p-3">
            <p class="lead mb-0">Today's Combo Offer</p>
          </div>
          <img class="card-img-top"src="assets/imgP/segunda.webp"
            alt="camisa2" (click)="redirectToDetalleProducto('prod2')" />
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <p class="small"><a class="text-muted">Before</a></p>
              <p class="small text-danger"><s>$1199</s></p>
            </div>

            <div class="d-flex justify-content-between mb-3">
              <h5 class="mb-0">AUTHENTIC AC MILAN 2ST SHIRT</h5>
              <h5 class="text-dark mb-0">$1099</h5>
            </div>

            <div class="d-flex justify-content-between mb-2">
              <p class="text-muted mb-0">Product <span class="fw-bold"> 2</span></p>
              <div class="ms-auto text-warning">
                <i class="a">Now  $1399</i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-4 mb-md-0">
        <div class="card">
          <div class="d-flex justify-content-between p-3">
            <p class="lead mb-0">Today's Combo Offer</p>
          </div>
          <img src="assets/imgP/tercera.webp"
            class="card-img-top" alt="camisa3" (click)="redirectToDetalleProducto('prod3')" />
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <p class="small"><a class="text-muted">Before</a></p>
              <p class="small text-danger"><s>$1400</s></p>
            </div>

            <div class="d-flex justify-content-between mb-3">
              <h5 class="mb-0">AUTHENTIC AC MILAN 3ST SHIRT</h5>
              <h5 class="text-dark mb-0">$1200</h5>
            </div>

            <div class="d-flex justify-content-between mb-2">
              <p class="text-muted mb-0">Product <span class="fw-bold"> 3</span></p>
              <div class="ms-auto text-warning">
                <i class="a">Now  $1150</i>
              </div>
            </div> 
          </div>
        </div>
      </div>
      <div class="mas">
        <button [routerLink]="'/shop'">See more Products</button>
      </div>
      
    </div>
  </div>
</section>

<div class="noticias"></div>
<h3>News</h3>

<div class="contar">
    <div class=" card12">
      <img class="a" src="assets/img/Frame1.jpg" alt="">
          <h5 class="titulo">AC MILAN VS INTER</h5>
          <p class="descripcion">
            This match will be played at the San Siro stadium.
          </p>
          <div class="camilo">
            <button class="andres" type="button" >See more</button>
            </div><br>
        </div>
        
        <div class=" card13">
          <img class="a" src="assets/img/Frame3.jpg" alt="">
          <h5 class="titulo">AC MILAN VS NAPOLE</h5>
          <p class="descripcion">
            This match will be played at the San Siro stadium.</p>

          <div class="camilo">
            <button class="andres" type="button" >See more</button>
            </div><br>
        </div>

        <div class=" card14">
          <img class="a" src="assets/img/Frame2.jpg" alt="">
          <h5 class="titulo">AC MILAN VS REAL MADRID</h5>
          <p class="descripcion">This match will be played at the Bernabeú stadium.</p>

          <div class="camilo">
            <button class="andres" type="button" >See more</button>
          </div><br>
        </div>
      </div>  


<div class="mas">
  <button [routerLink]="'/registro'">See more news</button>
</div>

<div class="marcas">
  <h3>Sponsoring Brands</h3>
<div class="logos">
  <a class="logo1" href="https://pumaco.com.co/" target= "_blank">
      <img  src="./assets/img2/logos/puma.png"  alt="marca1">
  </a>
  <a class="logo2" href="https://www.bmw.com.co/es/index.html" target= "_blank">
      <img  src="./assets/img2/logos/bmw.png" alt="marca2">
  </a>
  <a class="logo3" href="https://co.ebay.com/" target= "_blank">
      <img class="logo3" src="./assets/img2/logos/ebay.png" alt="marca3">
  </a>
  <a class="logo4" href="https://gatorade.lat/" target= "_blank">
      <img src="./assets/img2/logos/gatorade.png" alt="marca4">
  </a>
  <a class="logo5"href="https://www.off---white.com/" target= "_blank">
      <img src="./assets/img2/logos/off-white.png"  alt="marca5">
  </a>
  <a class="logo6"href="https://www.bitmex.com/" target= "_blank">
      <img  src="./assets/img2/logos/bitmex.png" alt="marca6">
  </a>
    </div>
</div>
