.contar{
color: rgb(12, 12, 12);
gap:14px;
display: flex;
justify-content: center;
border-radius: 8px;
padding: 12px;
top: 25px;
}

.card-img-top{
    cursor: pointer;

}

.card-img-top:hover{
    transform: scale(1.1);
    transition: transform 1s;
}

.card12{
    width: 100%;
    height: 100%;
    border-style: solid;
    justify-content: center;
}
.card13{
    width: 100%;
    height: 100%;
    border-style: solid;
    justify-content: center;
    }
    .card14{
        width: 100%;
        height: 100%;
        border-style: solid;
        justify-content: center;
        }        
        
.descripcion{
text-align: center;
margin: 15px;
}
.amigo{
    border-radius: 50px;
    width: 20px;
    height: 10px;
    
}

.titulo{
    text-align: center;
    color: #1A161A;
    
} 

h3{
    text-align: center;
    margin-top: 25px;
    margin: 15px;
}

.mas{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 38px;
    margin-top: 20px;
    
}
.mas button{
border-radius: px;
background-color: #1A161A ;
color: rgb(247, 244, 244);
width: 200px;
height: 38px;
margin-top: 8px;
}
.mas button:hover{
    background-color: #AE0000;
    transition: .5s ;
}

div .andres{ 
display: flex;
border-radius: 10px;
background-color: #1A161A ;
color: rgb(247, 244, 244);
width: 100px;
height: 38px;
margin: auto;
text-align: center;
justify-content: center;
align-items: center;
}

div .andres:hover{
    background-color: #AE0000;
    transition: .5s;
}
div a img{
    position: relative;
    width: 145px;
    height: 40;
    display: inline-block;
    border-radius: 18px;
    padding: 12px 20px;
    margin: 0px 25px;
    justify-content: center;

}

.noticias{
    display: flex;
    margin-top: 8px;
    padding: 10px;
    top: 1px;
    width: 100%;
    height: 100%;
    border-radius: 2px;
}

.marcas{
    margin-top: 50px;
    width: 100%;
    height: 100%;
    padding: 16px;
    background-color: #ebdddd;
    padding: 15px 0px;
    justify-content: z;
    
}
.a{
    width: 100%;
    height: 60%;
    position: relative;
}

.a:hover{
    transform: scale(1.1);
    transition: transform 4s;
}


@media screen and (max-width: 850px){  
    
    .col{
        width: 100%;
        justify-content: center;
        gap: 20;
        display: block;
    }
    .marcas{
        display: block;
        width: 100%;
        height: 100%;
    }
   .logos{
        width: 145px;
        height: 40px;
        gap: 20px;
        display: block;
    }
    .card12{
    width: 100%;
    height: 100%;
    border-style: solid;
    justify-content: center;
    display: block;
    gap: 20px;
}
.card13{
    width: 100%;
    height: 100%;
    border-style: solid;
    justify-content: center;
    display: block;
    gap: 20px;
    }
    .card14{
        width: 100%;
        height: 100%;
        border-style: solid;
        justify-content: center;
        display: block;
        gap: 20px;
        }  
        .contar{
            width: 30%;
            justify-content: center;
            gap: 20;
            display: block;
            grid-template-columns: 3fr 4fr;
            align-items: center;
            
        }
        .contar{
            width: 100%;
            display: block;
        }      
        .logos{
            width: 100%;
            height: 100%;
            justify-content: center;
            gap: 20;
            margin: 0px 85px;
        }
}
@media screen and (max-width: 550px){  
    
    .col{
        width: 100%;
        justify-content: center;
        gap: 20;
        display: block;
    }
    .marcas{
        display: block;
        width: 100%;
        height: 100%;
    }
   .logos{
        width: 145px;
        height: 40px;
        gap: 20px;
        display: block;
    }
    .card12{
    width: 100%;
    height: 100%;
    border-style: solid;
    justify-content: center;
    display: block;
    gap: 20px;
}
.card13{
    width: 100%;
    height: 100%;
    border-style: solid;
    justify-content: center;
    display: block;
    gap: 20px;
    }
    .card14{
        width: 100%;
        height: 100%;
        border-style: solid;
        justify-content: center;
        display: block;
        gap: 20px;
        }  
        .contar{
            width: 30%;
            justify-content: center;
            gap: 20;
            display: block;
            grid-template-columns: 3fr 4fr;
            align-items: center;
            
        }
        .contar{
            width: 100%;
            display: block;
        }      
        .logos{
            width: 100%;
            height: 100%;
            justify-content: center;
            gap: 20;
            margin: 0px 40px;
        }
}


@media screen and (max-width: 358px){ 
    .contar{
        width: 30%;
        justify-content: center;
        gap: 20;
        display: block;
        grid-template-columns: 3fr 4fr;
        align-items: center;
        
    }
    .contar{
        width: 100%;
        display: block;
    }
    .logos{
        width: 100%;
        justify-content: center;
        gap: 20;
    }
}