<section class="h-100 gradient-form" style="background-color: #eee">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-4">
                <div class="text-center">
                  <img
                    src="./assets/img/Logo.png"
                    style="width: 45px; margin: 16px"
                    alt="logo"
                  />
                  <h4 class="mt-2 mb-5 pb-1">CREATE AN ACCOUNT</h4>
                </div>
                <form
                  [formGroup]="formRegistro"
                  (ngSubmit)="submitForm()"
                  class="form"
                >
                  <div class="name">
                    <label class="form-label" for="form2Example22">Name</label>
                    <input
                      type="name"
                      id="name"
                      class="form-control"
                      formControlName="name"
                      placeholder="Enter your Name"
                    />
                    <div
                      class="alert alert-danger mb-2"
                      *ngIf="
                        name.invalid &&
                        formSubmitted &&
                        (name.dirty || name.touched)
                      "
                    >
                      <span *ngIf="name.errors?.['required']"
                        >This field is required.</span
                      >
                      <span *ngIf="name.errors?.['pattern']"
                        >Must be letters from A-Z.</span
                      >
                    </div>
                  </div>

                  <div class="lastname">
                    <label class="form-label" for="form2Example22"
                      >Lastname</label
                    >
                    <input
                      type="lastname"
                      id="lastname"
                      class="form-control"
                      formControlName="lastname"
                      placeholder="Enter your Lastame"
                    />
                    <div
                      class="alert alert-danger mb-2"
                      *ngIf="
                        lastname.invalid &&
                        formSubmitted &&
                        (lastname.dirty || lastname.touched)
                      "
                    >
                      <span *ngIf="lastname.errors?.['required']"
                        >This field is required.</span
                      >
                      <span *ngIf="lastname.errors?.['pattern']"
                        >Must be letters from A-Z.</span
                      >
                    </div>
                  </div>
                  <div class="email">
                    <label class="form-label" for="form2Example22">Email</label>
                    <input
                      type="email"
                      id="email"
                      class="form-control"
                      formControlName="email"
                      placeholder="Enter your email"
                    />
                    <div
                      class="alert alert-danger mb-2"
                      *ngIf="
                        email.invalid &&
                        formSubmitted &&
                        (email.dirty || email.touched)
                      "
                    >
                      <span *ngIf="email.errors?.['required']"
                        >This field is required.</span
                      >
                      <span *ngIf="email.errors?.['email']"
                        >This email is not valid.</span
                      >
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="form-label" for="form2Example22"
                      >Password</label
                    >
                    <input
                      [type]="changetypePassword ? 'password' : 'text'"
                      id="password"
                      class="form-control"
                      formControlName="password"
                      minlength="1"
                      maxlength="20"
                      placeholder="Enter your password"
                    />
                    <span class="eyeicon" (click)="viewpass('password')">
                      <i
                        [ngClass]="
                          visiblePassword ? 'fa fa-eye-slash' : 'fa fa-eye'
                        "
                      ></i
                    ></span>

                    <div
                      class="alert alert-danger mb-2"
                      *ngIf="
                        password.invalid &&
                        formSubmitted &&
                        (password.dirty || password.touched)
                      "
                    >
                      <span *ngIf="password.errors?.['required']"
                        >This field is required.</span
                      >
                      <span *ngIf="password.errors?.['minlength']"
                        >minimum 8 characters.</span
                      >
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="form-label" for="form2Example22"
                      >Confirm Password</label
                    >

                    <input
                      [type]="changetypeConfirm ? 'password' : 'text'"
                      id="confirmPassword"
                      class="form-control"
                      formControlName="confirmPassword"
                      minlength="1"
                      maxlength="21"
                      placeholder="Enter your password"
                    />
                    <span class="eyeicon" (click)="viewpass('confirmPassword')">
                      <i
                        [ngClass]="
                          visibleConfirm ? 'fa fa-eye-slash' : 'fa fa-eye'
                        "
                      ></i
                    ></span>

                    <div
                      class="alert alert-danger mb-2"
                      *ngIf="
                        confirmPassword.invalid &&
                        formSubmitted &&
                        (confirmPassword.dirty || confirmPassword.touched)
                      "
                    >
                      <span *ngIf="confirmPassword.errors?.['required']"
                        >This field is required.</span
                      >
                      <span
                        class="infor"
                        *ngIf="password.value !== confirmPassword.value"
                        >Passwords don't match.</span
                      >
                    </div>
                    <div class="form-group">
                      <input
                        class="cuadro"
                        type="checkbox"
                        id="termsAndConditions"
                        formControlName="termsAndConditions"
                        (change)="termsAccepted = !termsAccepted"
                      />
                      <label class="form-label" for="form2Example22"
                        ><a [routerLink]="'/terminos'"
                          >Términos y Condiciones</a
                        >
                      </label>
                      <div
                        class="alert alert-danger mb-2"
                        *ngIf="!termsAccepted && formSubmitted"
                      >
                        <span class="infor">
                          You must accept the terms and conditions.
                        </span>
                      </div>
                    </div>
                  </div>

                  <div class="boton">
                    <button
                      class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3"
                      type="submit"
                    >
                      Register
                    </button>
                  </div>

                  <div class="comunicado">
                    <p class="texto">Have already an account?</p>
                    <button
                      class="btn btn-outline-danger"
                      type="button"
                      [routerLink]="['/login']"
                    >
                      Login here
                    </button>
                  </div>
                </form>
              </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
              <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                <h3 class="mb-4">FORCE MILAN</h3>
                <p class="small mb-0">
                  Milanita, joina unique experiencia with new and collectible
                  items, as well as the latest generation kits of the player you
                  want. <br /><br />

                  did you know that? <br /><br />
                  milan is the second team with the most champions cups in the
                  world and currently has 38 trophies won in all competitions.
                  <br /><br />
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
