<section class="h-100 gradient-form" style="background-color: #eee;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-4">
                
                <div class="text-center">
                  <img src="./assets/img/Logo.png"
                    style="width: 45px; margin: 16px"  alt="logo">
                  <h4 class="mt-2 mb-5 pb-1">CREATE AN ACCOUNT </h4>
                </div>

                <form>
                    <p>UserName (Email)</p>
                    <div class="form-outline mb-3">
                    <input type="email" id="form2Example11" class="form-control" placeholder="Enter your Email"/>
                    <label class="form-label" for="form2Example11"></label>
                    </div>

                  <p>Name</p>
                  <div class="form-outline mb-3">
                    <input type="text" id="form2Example11" class="form-control"
                      placeholder="Enter your name"/>
                    <label class="form-label" for="form2Example11"></label>
                  </div>

                  <p>Last Name</p>
                  <div class="form-outline mb-3">
                    <input type="text" id="form2Example11" class="form-control"
                      placeholder="Enter your Last name"/>
                    <label class="form-label" for="form2Example11"></label>
                  </div>

                  <div class="form-outline mb-5">
                    <label class="form-label" for="form2Example22">Password</label>
                    <input type="password" id="form2Example22" class="form-control"   
                    placeholder="Enter your password" />
                  </div>

                  <div class="form-outline mb-5">
                    <label class="form-label" for="form2Example22">Password Confirmation</label>
                    <input type="password" id="form2Example22" class="form-control"   
                    placeholder="Enter your password confirmation" />
                  </div>

                  <div class="text-center pt-1 mb-5 pb-1">
                    <button class="btn btn-outline-danger" type="button" style="width: 150px; height: 60px;">
                        Register</button>
                    </div>                                           
                   
                   

                  <div class="d-flex align-items-center justify-content-center ">
                    <p class="mb-0 me-2">Have already an account?</p>
                
                    <button type="button" class="btn btn-outline-danger" style="width: 130px; height: 60px;" href="#" >Login here</button>
                  </div>

                </form>

              </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
              <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                <h3 class="mb-4">FORCE MILAN</h3><br><br>
                <p class="small mb-0"> Milanita, joina unique experiencia with new 
                    and collectible items, as well as the latest 
                    generation kits of the player you want. <br><br>
                    
                    did you know that? <br><br>

                    milan is the second team with the most champions cups 
                    in the world and currently has 38 trophies won in all 
                    competitions. <br><br> </p>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

