.gradient-custom-2 {
    background: #161615; 
    background: -webkit-linear-gradient(to right ,  #1A161A, #1A161A, );
    background: linear-gradient(to right, #AE0000,#AE0000);
    }
.form div{
    width: 300px;
    align-items: center;
    justify-content: center;

}

.boton{
    width: 100%;
    height: 75px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px 15px;
    border-radius: 20px;
    margin-top: 20px;
    
}
.comunicado{
    display: grid;
    width: 100px;
    height: 80px;
    grid-template-columns: 120px 100px ;
    grid-template-rows: 80px;
    align-items: center;
    justify-content: center;
    gap: 2px;
    font-size: center;
padding: 10px;
top: 4px;
}
.boton button{
    color: white; background-color: #1A161A;
    border-radius: 10px; 
    align-items: center;
    justify-content: center;
}
.boton :hover{
    background-color:#AE0000 ;
    transition: .5s; 
}
.comunicado button{
    color: white;
    background-color: #1A161A;
    width: 80px;
    height: 70px;
    border-radius: 5px;
    padding: 7px;

}
.comunicado button:hover{
    background-color: #AE0000;
    transition: .5s; 
}

    .alert{
        padding: 8px;
        font-weight: 500;
    }
    .form-control{
        padding: 9px;
        border: 1px solid var(--black);
        margin-bottom: 20px;
    }
    .form-label{
        font-weight: 700;
    }
    .btn{
        width: 100%;
        height: 3rem;
        background: var(--black);
        opacity: inherit;
        color: var(--white);
        font-weight: bold;
    } 
    
    @media screen and (min-width: 925px){
        .description, .form{
            width: 70%;
        }
        
    }
    @media screen and (min-width: 768px){
        .container-img {
            display: block;
        }
        .description, .form{
            width: 40%;
        }
        .container-login{
            display: grid;
            grid-template-columns: 3fr 4fr;
        }
        .container-img img{
            object-fit: cover;
            width: 100%;
            height: 100vh
        }
    }